#these are the libaries imported for the project and theriv verison 
Django==4.2.11
django-csp==3.7
django-axes==6.4.0
requests==2.32.5

# Database
#sqllite

# ML/Data Science
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.7.2
joblib==1.4.2
xgboost==2.1.1

# Packet analysis
scapy==2.6.0

python-dotenv==1.0.1
# Excel support
openpyxl==3.1.5
